@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

@font-face {
    font-family: "Bookman Swash";
    src: url("./fonts/Bookman\ Swash\ Bold\ Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Bookman";
    src: url("./fonts/Bookman\ BoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

html {
    --color-blue-primary: #04759f;
    --color-blue-secondary: #050f96;
    --color-red-primary: #bc3d52;
    --color-red-light: #e09fa9;
    --color-grey-light: #f4f4f4;
    --font-primary: "Source Sans 3", sans-serif;
    --font-secondary: "Merriweather", serif;
    font-size: 62.5%;
}

body {
    --section-padding-x: 5rem;
    position: relative;
    margin: 0;
    font: 2rem var(--font-primary);
}

h1, h2, h3, h4 {
    font-family: var(--font-secondary);
    margin: 0;
}

h2 {
    font-size: 4.5rem;
    margin: 2.5rem 0;
}

figure {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
}

.button {
    border-radius: 3px;
    padding: 1rem 2rem;
    transition: padding 0.2s ease-in-out;
}

.button:hover {
    padding: 1rem 3rem;
}

.button--primary {
    background-color: var(--color-blue-primary);
    color: #FFF;
}

.button--secondary {
    background-color: var(--color-blue-secondary);
    color: #FFF;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--color-blue-primary);
}

a:hover,
a:active {
    text-decoration: underline;
}

.hide {
    display: none;
}

.logo {
    font-family: "Bookman";
    text-transform: uppercase;
    text-shadow:
        2px 2px 0 var(--color-red-primary),
        -2px 2px 0 var(--color-red-primary),
        -2px -2px 0 var(--color-red-primary),
        2px -2px 0 var(--color-red-primary);
    letter-spacing: -1px;
}

.logo-icon {
    color: var(--color-red-primary);
    font-size: 1.2em;
    margin: 0 1rem;
}

.logo__fancy-font {
    font-family: "Bookman Swash";
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-container {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 3rem var(--section-padding-x);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.navbar-container--scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem var(--section-padding-x);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 120rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #FFF;
}

.navbar__heading {
    margin: 0;
}

.navbar__logo {
    text-align: center;
    font-size: 2rem;
}

.navbar__logo .logo-icon {
    display: block;
}

.navbar__list {
    display: flex;
}

.navbar__item:hover {
    cursor: pointer;
}

.navbar__item:not(:last-child) {
    margin-right: 4rem;
}

.navbar__menu-button,
.navbar__close-button {
    background-color: transparent;
    color: #FFF;
}

.navbar__hamburger {
    background-color: #FFF;
    display: inline-block;
    position: relative;
    width: 3.5rem;
    height: 0.5rem;
}

.navbar__hamburger::before,
.navbar__hamburger::after {
    content: "";
    background-color: inherit;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar__hamburger::before {
    top: -10px;
}

.navbar__hamburger::after {
    bottom: -10px;
}

.hero__container {
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 3rem var(--section-padding-x);
}

.home .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/restaurant.jpg");
    background-position: top 10% center;
}

.about .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/staff-01.jpg");
    background-position: center;
}

.menu .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/cookie-lineup.jpg");
    background-position: top 50% center;
}

.contact .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/starcourt-mall.jpg");
}

.hero__text {
    text-align: center;
    margin: 27vh auto;
    max-width: min(800px, 100%);
}

.hero__container h1 {
    font-size: 6rem;
    margin: 1rem 0;
}

.hero__container h3 {
    font-size: 4rem;
}

.parlour__container {
    padding: 15rem var(--section-padding-x);
    text-align: center;
}

.parlour__text {
    margin: 0 auto;
    max-width: 70rem;
}

.parlour__logo, .customer__logo {
    font-size: 3rem;
}

.parlour__container .gallery {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 5rem auto;
    max-width: 140rem;
}

.parlour__container .gallery__item:nth-child(1) {
    grid-row: 1 / 3;
}

.parlour__container .gallery__item:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: -2;
}

.discover__container {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/nautical-background.jpg");
    padding: 10rem var(--section-padding-x);
}

.discover__content {
    --gallery-padding-x: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 6rem;
    margin: 0 auto;
    max-width: 110rem;
}

.discover__text {
    text-align: right;
}

.discover__heading {
    font-size: 5rem;
    margin: 0;
}

.discover__special {
    display: block;
    line-height: 0.6;
    font-size: 0.85em;
    color: var(--color-blue-primary);
}

.discover__container .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gallery-padding-x);
    max-width: 57rem;
}

.discover__container .gallery__item {
    flex: 1 max(275px, 40%);
}

.customer__container {
    padding: 10rem var(--section-padding-x);
    text-align: center;
}

.carousel {
    --carousel-border-radius: 100%;
    position: relative;
    margin: 5rem auto;
    max-width: 70rem;
}

.carousel__button {
    background-color: var(--color-grey-light);
    color: #000;
    border-radius: var(--carousel-border-radius);
    position: absolute;
    top: 35%;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
}

.carousel__button:hover {
    background-color: var(--color-blue-primary);
    color: #FFF;
}

.back {
    left: -5rem;
}

.next {
    right: -5rem;
}

.slider {
    max-width: 600px;
    margin: 0 auto;
}

.slide {
    font-size: 2.2rem;
    margin-bottom: 5rem;
}

.slide__photo {
    width: 30rem;
    height: 30rem;
    border: 10px solid var(--color-blue-secondary);
    border-radius: var(--carousel-border-radius);
    margin: 0 auto;
}

.slide__photo img {
    border-radius: var(--carousel-border-radius);
}

.slide__customer::before {
    content: "\2014";
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: 1rem;
}

.slide__quote {
    margin: 4rem 2.5rem 2rem;
}

.dot {
    background-color: var(--color-red-light);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 5px;
    border-radius: var(--carousel-border-radius);
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot--active, .dot:hover {
    background-color: var(--color-red-primary);
}

.footer {
    background-color: var(--color-grey-light);
    position: relative;
    padding: 5rem var(--section-padding-x);
}

.footer p,
.footer address {
    margin: 2rem 0;
}

.footer h4 {
    font-size: 1.1em;
}

.footer__body {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 0 auto 5rem;
    max-width: 1000px;
}

.footer__column {
    flex: 1 max(275px, 30%);
}

.footer__column--small {
    flex-basis: auto;
}

.footer__social {
    font-size: 1.4em;
    margin-top: 4rem;
}

.footer__social a {
    display: inline-block;
    margin-right: 1rem;
}

.footer__social a:hover,
.footer__social a:active {
    color: var(--color-red-primary);
}

.footer__contact address {
    font-style: normal;
}

.footer__links ul {
    margin-top: 2rem;
}

.footer__links li {
    margin-bottom: 1rem;
}

.footer__copyright {
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .parlour__container .gallery {
        grid-template-rows: none;
        grid-template-columns: 1fr;
        gap: var(--section-padding-x);
        max-width: 70rem;
    }

    .parlour__container .gallery__item:nth-child(1),
    .parlour__container .gallery__item:nth-child(4) {
        grid-area: auto;
    }

    .parlour__container .gallery__item:nth-child(3) {
        order: 4;
    }
}

@media screen and (max-width: 1200px) {
    .discover__content {
        flex-direction: column;
        padding: 6rem max(var(--gallery-padding-x), 5%);
        max-width: 600px;
    }

    .discover__text {
        text-align: center;
    }
}

@media screen and (max-width: 950px) {
    .navbar__menu.active ~ .navbar__mobile {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .navbar__list {
        flex-direction: column;
        margin-bottom: 5rem;
        text-align: center;
    }

    .navbar__item:not(:last-child) {
        margin: 0 0 2rem 0;
    }

    .navbar__buttons {
        font-size: 2.2rem;
    }

    .navbar__close-button {
        position: absolute;
        top: 4.5rem;
        right: 4.5rem;
        font-size: 5rem;
    }

    .carousel__button {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    body {
        --section-padding-x: 2.5rem;
    }
}
