html {
    font-size: 62.5%;
}

body {
    --section-padding-x: 5rem;
    margin: 0;
    font-size: 2rem;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

figure {
    margin: 0;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 120rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item:hover {
    cursor: pointer;
}

.navbar__item:not(:last-child) {
    margin-right: 4rem;
}

.navbar__logo {
    text-align: center;
    font-size: 2rem;
}

.navbar__logo .logo-icon {
    display: block;
}

.hero__container {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 3rem var(--section-padding-x);
}

.home .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/restaurant.jpg");
    background-position: top 10% center;
}

.about .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/staff-01.jpg");
}

.menu .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/cookie-lineup.jpg");
    background-position: top 50% center;
}

.contact .hero__container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/starcourt-mall.jpg");
}

.hero__text {
    text-align: center;
    margin: 25vh auto;
    max-width: max(50%, 600px);
}

.hero__container h1 {
    font-size: 7rem;
    margin: 2rem 0;
}

.hero__container h3 {
    font-size: 3rem;
}

.hero__container p {
    font-size: 2rem;
}

.parlour__container {
    padding: 15rem var(--section-padding-x);
    text-align: center;
}

.parlour__text {
    margin: 0 auto;
    max-width: min(70rem, 100%);
}

.parlour__heading {
    margin: 3rem 0;
}

.parlour__logo {
    font-size: 3rem;
}

.parlour__container .gallery {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3rem;
    margin: 5rem auto;
    max-width: 140rem;
}

.parlour__container .gallery__item:nth-child(1) {
    grid-row: 1 / 3;
}

.parlour__container .gallery__item:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: -2;
}

.discover__container {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/nautical-background.jpg");
    padding: 10rem var(--section-padding-x);
}

.discover__content {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 6rem;
    margin: 0 auto;
    max-width: 110rem;
}

.discover__text {
    text-align: right;
}

.discover__heading {
    font-size: 5rem;
}

.discover__special {
    display: block;
    line-height: 0.6;
    font-size: 0.85em;
}

.discover__container .gallery {
    display: flex;
    gap: 2rem;
    position: relative;
    max-width: 57rem;
}

.discover__container .gallery__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3rem;
}

.discover__container .gallery__column:nth-child(1) {
    position: relative;
    bottom: 20px;
}

.discover__container .gallery__column:nth-child(2) {
    position: relative;
    top: 20px;
}

.discover__container .gallery__item {
    height: 50%;
}

@media screen and (max-width: 1300px) {
    .parlour__container .gallery {
        grid-template-rows: none;
        grid-template-columns: 1fr;
        gap: var(--section-padding-x);
        max-width: 70rem;
    }

    .parlour__container .gallery__item:nth-child(1),
    .parlour__container .gallery__item:nth-child(4) {
        grid-row: auto;
        grid-column: auto;
    }

    .parlour__container .gallery__item:nth-child(3) {
        order: 4;
    }
}

@media screen and (max-width: 1100px) {
    .discover__content {
        flex-direction: column;
    }

    .discover__text {
        text-align: center;
        max-width: min(600px, 100%);
    }
} 
